p {
    color: blue;
    font-size: 18px;
    text-align: center;
  }
h1  {
    color: rgb(130, 192, 73);
    text-align: center;
  }
  img {
    width: 300px; /* Ajusta el ancho */
    height: auto; /* Mantiene la proporción */
    display: block;
    margin: 0 auto;
  }
  